---
- name: 创建 Gitea 命名空间
  kubernetes.core.k8s:
    name: gitea
    kind: Namespace
    api_version: v1
    state: present
  delegate_to: localhost
  run_once: true

# 仅创建 Gitea 主数据目录（存放 SQLite 数据库及应用数据）
- name: 创建 Gitea 数据目录
  ansible.builtin.file:
    path: /data/gitea/data
    state: directory
    mode: '0777'  # 确保容器有读写权限

- name: 创建 Gitea PV
  kubernetes.core.k8s:
    state: present
    resource_definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: gitea-pv
      spec:
        capacity:
          storage: "20Gi"
        accessModes:
          - ReadWriteOnce
        hostPath:
          path: "/data/gitea/data"
          type: DirectoryOrCreate
  delegate_to: localhost
  run_once: true

- name: 创建Gitea SMTP密码Secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: gitea-smtp-secret
        namespace: gitea
      type: Opaque
      stringData:
        smtp-pass: "ihpyiwqaoyedcaca"

- name: 复制 gitea.yaml 配置文件到临时目录
  ansible.builtin.template:
    src: gitea.yaml.j2
    dest: /tmp/gitea.yaml
  delegate_to: localhost
  run_once: true

- name: 复制 gitea-12.4.0.tgz 文件到临时目录
  copy:
    src: "gitea-12.4.0.tgz"
    dest: "/tmp/gitea-12.4.0.tgz"
  delegate_to: localhost
  run_once: true

- name: Uninstall Gitea using Helm
  command: >
    helm uninstall gitea --namespace gitea
  register: uninstall_gitea
  changed_when: "'uninstalled' in uninstall_gitea.stdout"
  failed_when:
    - uninstall_gitea.rc != 0
    - "'not found' not in uninstall_gitea.stderr"
  ignore_errors: yes
  delegate_to: localhost
  run_once: true

# 安装本地 Helm 图表（无任何外部依赖）
- name: 安装 Gitea 从本地 Helm 图表
  command: >
      helm install gitea /tmp/gitea-12.4.0.tgz \
      --namespace gitea \
      --create-namespace \
      -f /tmp/gitea.yaml
  register: install_gitea
  changed_when: "'installed' in install_gitea.stdout"
  delegate_to: localhost
  run_once: true


- name: 创建 Gitea NodePort Service
  kubernetes.core.k8s:
    state: present
    definition:
      kind: Service
      metadata:
        name: gitea
        namespace: gitea
      spec:
        type: NodePort
        selector:
          app: gitea
        ports:
          - port: 3000
            targetPort: 3000
            nodePort: 30103
  delegate_to: localhost
  run_once: true


# 等待 Gitea 部署完成（仅需检查 Gitea 自身 Pod）
- name: 等待 Gitea Pod 就绪
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: gitea
  register: gitea_pods
  until: >
    gitea_pods.resources | length > 0 and
    gitea_pods.resources | map(attribute='status.phase') | unique == ['Running']
  retries: 30
  delay: 10
  delegate_to: localhost
  run_once: true