---
- name: 创建临时目录存放镜像文件
  file:
    path: "/tmp/jenkins"
    state: directory
    mode: '0755'
  delegate_to: localhost
  run_once: true

- name: 检查 jenkins_2.528.1-lts-jdk17.tar 镜像文件是否存在
  stat:
    path: "{{ playbook_dir }}/jenkins/{{ ansible_architecture }}/jenkins_2.528.1-lts-jdk17.tar"
  register: jenkins_tar_stat
  delegate_to: localhost
  run_once: true

- name: 合并分卷并解压生成镜像文件
  shell: |
    # 合并分卷为完整zip文件
    cat {{ playbook_dir }}/jenkins/{{ ansible_architecture }}/jenkins.zip.001 \
        {{ playbook_dir }}/jenkins/{{ ansible_architecture }}/jenkins.zip.002 \
        {{ playbook_dir }}/jenkins/{{ ansible_architecture }}/jenkins.zip.003 \
        > {{ playbook_dir }}/jenkins/{{ ansible_architecture }}/jenkins.zip
    
    # 解压zip到目标目录（确保tar直接生成在该目录）
    unzip -q -o {{ playbook_dir }}/jenkins/{{ ansible_architecture }}/jenkins.zip \
          -d {{ playbook_dir }}/jenkins/{{ ansible_architecture }}/
    
    # 清理临时zip文件
    rm -f {{ playbook_dir }}/jenkins/{{ ansible_architecture }}/jenkins.zip
  delegate_to: localhost
  run_once: true
  when: not jenkins_tar_stat.stat.exists

- name: 复制 jenkins_2.528.1-lts-jdk17.tar 镜像文件到临时目录
  copy:
    src: "{{ playbook_dir }}/jenkins/{{ ansible_architecture }}/{{ item }}"
    dest: "/tmp/{{ item }}"
    mode: 0644
    directory_mode: 0755
    remote_src: no
    force: yes
  with_items:
    - "jenkins_2.528.1-lts-jdk17.tar"


- name: 加载 jenkins_lts.tar 镜像到 Docker
  shell: "docker load -i /tmp/{{ item }}"
  with_items:
    - "jenkins_2.528.1-lts-jdk17.tar"




