---
- name: 创建 Jenkins 命名空间
  kubernetes.core.k8s:
    name: jenkins
    kind: Namespace
    api_version: v1
    state: present
  delegate_to: localhost
  run_once: true

- name: "创建 Jenkins 目录"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0777'
  loop:
    - /data/jenkins
    - /data/jenkins/plugins

- name: 复制离线插件到Jenkins插件目录
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/data/jenkins/plugins/{{ item }}"
    mode: '0644'
  loop:
    - localization-zh-cn.hpi
    - localization-support.hpi
    - antisamy-markup-formatter.hpi
    - apache-httpcomponents-client-4-api.hpi
    - asm-api.hpi
    - bootstrap5-api.hpi
    - bouncycastle-api.hpi
    - caffeine-api.hpi
    - checks-api.hpi
    - commons-lang3-api.hpi
    - commons-text-api.hpi
    - credentials.hpi
    - credentials-binding.hpi
    - display-url-api.hpi
    - docker-plugin.hpi
    - docker-workflow.hpi
    - echarts-api.hpi
    - font-awesome-api.hpi
    - git.hpi
    - git-client.hpi
    - gitea.hpi
    - gitee.hpi
    - github.hpi
    - github-api.hpi
    - gitlab-plugin.hpi
    - gson-api.hpi
    - instance-identity.hpi
    - ionicons-api.hpi
    - jackson2-api.hpi
    - jakarta-activation-api.hpi
    - jakarta-mail-api.hpi
    - jakarta-xml-bind-api.hpi
    - javax-activation-api.hpi
    - jaxb.hpi
    - jquery3-api.hpi
    - json-api.hpi
    - junit.hpi
    - mailer.hpi
    - matrix-auth.hpi
    - matrix-project.hpi
    - mina-sshd-api-common.hpi
    - mina-sshd-api-core.hpi
    - plain-credentials.hpi
    - prism-api.hpi
    - scm-api.hpi
    - script-security.hpi
    - snakeyaml-api.hpi
    - ssh-credentials.hpi
    - structs.hpi
    - variant.hpi
    - workflow-api.hpi
    - workflow-job.hpi
    - workflow-scm-step.hpi
    - workflow-step-api.hpi
    - workflow-support.hpi
    - authentication-tokens.hpi
    - docker-commons.hpi
    - plugin-util-api.hpi
    - okhttp-api.hpi
    - durable-task.hpi
    - docker-java-api.hpi
    - token-macro.hpi
    - ssh-slaves.hpi
    - joda-time-api.hpi
    - jersey2-api.hpi
    - handy-uri-templates-2-api.hpi
    - branch-api.hpi
    - pipeline-model-definition.hpi
    - workflow-cps.hpi
    - workflow-durable-task-step.hpi
    - cloudbees-folder.hpi
    - workflow-basic-steps.hpi
    - pipeline-model-extensions.hpi
    - apache-httpcomponents-client-5-api.hpi
    - commons-compress-api.hpi
    - trilead-api.hpi
    - json-path-api.hpi
    - pipeline-stage-step.hpi
    - pipeline-model-api.hpi
    - workflow-multibranch.hpi
    - pipeline-stage-tags-metadata.hpi
    - pipeline-input-step.hpi
    - pipeline-groovy-lib.hpi
    - cloud-stats.hpi
    - eddsa-api.hpi

- name: 创建 Jenkins Storage PV
  kubernetes.core.k8s:
    state: present
    resource_definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: jenkins-storage
      spec:
        capacity:
          storage: "10Gi"
        accessModes:
          - ReadWriteOnce
        storageClassName: jenkins-storage
        hostPath:
          path: "/data/jenkins"
          type: DirectoryOrCreate
  delegate_to: localhost
  run_once: true

- name: 创建 Jenkins Storage PVC
  kubernetes.core.k8s:
    state: present
    resource_definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: jenkins-pvc
        namespace: jenkins
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "10Gi"
        storageClassName: jenkins-storage
  delegate_to: localhost
  run_once: true

- name: 定义 Jenkins 管理员账号密码变量
  set_fact:
    jenkins:
      admin:
        username: "admin"  # 可改为自定义用户名
        password: "admin"  # 建议使用更安全的密码
  delegate_to: localhost
  run_once: true

- name: 生成 Jenkins 初始化脚本
  template:
    src: "init_jenkins.groovy.j2"
    dest: "/tmp/init_jenkins.groovy"
    mode: '0644'
  delegate_to: localhost
  run_once: true


- name: 创建 Jenkins 初始化脚本 ConfigMap
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: jenkins-init-scripts
        namespace: jenkins
      data:
        init_jenkins.groovy: "{{ lookup('file', '/tmp/init_jenkins.groovy') }}"
  delegate_to: localhost
  run_once: true


- name: 渲染单节点 Jenkins
  ansible.builtin.template:
    src: "jenkins.yml.j2"
    dest: /tmp/jenkins.yaml
    mode: '0644'
  delegate_to: localhost
  run_once: true

- name: 应用 Jenkins 的 Deployment
  kubernetes.core.k8s:
    src: /tmp/jenkins.yaml
    state: present
  delegate_to: localhost
  run_once: true

- name: 创建 Jenkins NodePort Service
  kubernetes.core.k8s:
    state: present
    definition:
      kind: Service
      metadata:
        name: jenkins
        namespace: jenkins
      spec:
        type: NodePort
        selector:
          app: jenkins
        ports:
          - port: 8080
            targetPort: 8080
            nodePort: 30101
  delegate_to: localhost
  run_once: true


- name: 等待 Jenkins Pod 就绪
  k8s_info:
    kind: Pod
    namespace: jenkins
    label_selectors:
      - app=jenkins
  register: jenkins_pod
  until: >
    jenkins_pod.resources is defined 
    and jenkins_pod.resources | length > 0 
    and jenkins_pod.resources[0].status.phase == 'Running'
  retries: 30  # 最多重试30次
  delay: 10    # 每次间隔10秒
  delegate_to: localhost
  run_once: true

- name: 获取 Jenkins Pod 名称
  k8s_info:
    kind: Pod
    namespace: jenkins
    label_selectors:
      - app=jenkins
  register: jenkins_pod_info
  delegate_to: localhost
  run_once: true

- name: 提取 Jenkins API Token
  shell: |
    kubectl exec -n jenkins {{ jenkins_pod_info.resources[0].metadata.name }} -- cat /var/jenkins_home/api_token.txt
  register: jenkins_api_token
  changed_when: false
  retries: 10  # 重试3次
  delay: 5    # 每次重试间隔5秒
  until: jenkins_api_token.rc == 0  # 直到命令成功执行（返回码为0）
  delegate_to: localhost
  run_once: true

- name: 获取主节点（控制平面）InternalIP
  shell: |
    kubectl get nodes -l node-role.kubernetes.io/control-plane -o jsonpath='{.items[0].status.addresses[?(@.type=="InternalIP")].address}'
  register: master_node_ip
  changed_when: false
  retries: 5  # 最多重试5次（应对节点未就绪的情况）
  delay: 3    # 重试间隔3秒
  until: master_node_ip.stdout != ""  # 直到获取到非空IP
  delegate_to: localhost
  run_once: true

- name: 创建存储 Jenkins API Token 的 ConfigMap
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: jenkins-api-token
        namespace: jenkins
      data:
        user: admin
        jenkinsUrl: "{{ master_node_ip.stdout }}:30101"
        token: "{{ jenkins_api_token.stdout }}"
  delegate_to: localhost
  run_once: true
